<footer>

    <p>
        Hecho con <a href="https://angular.io/" target="_blank">Angular 15</a>, consumiendo <a
            href="https://pokeapi.co/" target="_blank">PokéApi</a>
    </p>

    <p>
        Desarrollado por <a href="https://github.com/kirakman" target="_blank">João</a> e <a
            href="https://github.com/christyanbrayan" target="_blank">Christyan</a>
    </p>

    <p>
        Cambiado por <a href="https://github.com/WillanVelascoFernandez" target="_blank">Willan
    </p>

</footer>
